<div class="container">
  <div class="show-user-box">
    <i class="fa fa-user fa-3x <%= 'online' if @user.is_online %>"></i>
    <h2 class="show-handle"><%= @user.handle %></h2>
    <% if @user.is_online %>
      <small class="online">(online)</small>
    <% else %>
      <small>(offline)</small>
    <% end %>

    <div class="show-user-details">
      <span class="show-user-detail">Member since <%= @user.created_at.strftime("%b %d, %Y") %></span>
      <span class="show-user-detail">Last signed in <%= time_ago_in_words(@user.last_sign_in_at) %> ago</span>
      <h4 class="show-user-detail"><%= pluralize(@user.games.count, 'game') %> uploaded</h4>
    </div>
  </div>

  <ul class="show-user-games" id="user-games">
    <%= render 'users_games', games: @games %>
  </ul>

  <%= will_paginate @games %>
</div>
