<nav class='clearfix'>
  <ul class="right nav-list">
    <li>
      <%= mail_to '', 'Share ChessExplained',
        subject:  "Yo check out this new chess site",
        body: "www.chessexplainedapp.com",
        class: "share-chess-explained"
      %>
    </li>
    <li class="log-in"><%= link_to "Login", new_user_session_url %></li>
  </ul>
</nav>
<div class="container">
  <section class="intro">
    <div class="intro-titles">
      <h1 class="text-center">Become a better chess player with ChessExplained</h1>
      <h4 class="text-center">The best online platform for chess players to learn and have have fun with others</h4>
    </div>

    <div class="intro-action-container text-center">
      <%= link_to "Get started", new_user_registration_url, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="quote">
      <h5 class="text-center">&#8220;ChessExplained is revolutionizing the way we expierence and learn chess.&#8221;</h5>
    </div>
  </section>

  <hr class="divider">
  <section class="learning-chess row landing-block clearfix">
    <h2>Learning... <span class="greyed-text"> chess</span></h2>
    <div class="col-sm-6 learning-step">
      <p>As time goes on technology gets better and things get more accessible. But, at the end of the day we are still people, and the best way to learn is still from another person.</p>

      <p>For us chess players that can be frustrating. Having to find someone better than you, decently close, squeeze them into your schedule, and hopefully have the money to pay for it.</p>

      <p>Goodbye to those days. ChessExplained is a place where you can do all you need on the internet. Options are limitless, your scedule doesn't need to be bent.</p>
    </div>

    <div class="col-sm-6 king-container text-center">
      <div class="king">
        <%= image_tag "king.png", width: 200, height: 200, class: "img-responsive" %>
      </div>
    </div>
  </section>

  <hr class="divider">
  <section class="you-do row landing-block clearfix">
    <h2>How this works... <span class="greyed-text">just three easy steps</span></h2>
    <ol class="heroSupplement__list col-sm-5">
      <li class="heroSupplement__item">
        <figure class="heroSupplement__listNumber">1</figure>
        <figcaption class="heroSupplement__listContent">Upload your game with either PGN or manually</figcaption>
      </li>
      <li class="heroSupplement__item">
        <figure class="heroSupplement__listNumber">2</figure>
        <figcaption class="heroSupplement__listContent">Share your link with your friends and coaches</figcaption>
      </li>
      <li class="heroSupplement__item">
        <figure class="heroSupplement__listNumber">3</figure>
        <figcaption class="heroSupplement__listContent">Learn and have fun with other players</figcaption>
      </li>
    </ol>

    <div class="col-sm-6 screenshot-container">
      <%= image_tag "screen_shot_one.png", height: 400, class: "img-responsive" %>
    </div>
  </section>

  <hr class="divider">
  <section class="schedule-a-lesson row landing-block clearfix">
    <h2>We are chess players too...<span class="greyed-text"> schedule time with us</span></h2>
    <div class="col-sm-6 learning-step">
      <p>I love chess. I've been playing the game competitively since I was a kid years old.</p>

      <p>While playing and trying to get better everyday I realized how hard it was to surround yourself in an environment to learn chess. It really hit me when my friend Jack Hanson and I went off to different states for college. I would review Hanson's games a few times a week, and was his coach. When we went to school and weren't physically with eachother it was impossible to review his games and teach him.</p>

      <p>Solving this and helping make learning chess more accessible has been my vision for a long time, especially since I couldn't review chess with my friends anymore. Now I have <%= link_to "learned the skills", "https://signalvnoise.com/posts/3771-jack-mallers-from-dropout-to-starter", target: "_blank" %> to make it a reality. If you want to review some games, learn, or teach me, please schedule a time.</p>
    </div>

    <div class="col-sm-6 schedule-a-time-action-container">
      <div class="teacher-img text-center">
        <%= image_tag "mallers.jpg", height: 300, width: 150, class: "img-rounded img-responsive" %>
      </div>
      <div class="teacher-description">
        <ul>
          <li>USCF: 1918</li>
          <li>Chesscube(JimmyMow): 2219</li>
          <li>Lichess(JimmyMow): 2139</li>
        </ul>
      </div>
      <div class="schedule-action">
        <%= link_to "Schedule a time with me", "#", class: "btn btn-default btn-block" %>
      </div>
    </div>
  </section>

  <hr class="divider">
  <footer class="text-center">
    Made by <%= link_to "a kid", "https://twitter.com/JackMallers", target: "_blank" %> who <i class="fa fa-heart"></i> chess
  </footer>
</div>
