<div class="container">
  <div class="row">
    <h2 class="section-subhead">Upload your game</h2>

      <ol class="heroSupplement__list">
        <li class="heroSupplement__item col-sm-6">
          <figure class="heroSupplement__listNumber">1</figure>
          <figcaption class="heroSupplement__listContent">You can upload your game with <%= link_to "PGN", "http://en.wikipedia.org/wiki/Portable_Game_Notation", target: "_blank" %>. Simply paste the PGN into the text box and click submit.</figcaption>

          <div class="upload-img-container text-center">
            <%= image_tag "upload_pgn.png", height: 200, class: "img-responsive" %>
          </div>

          <div class="upload-action col-sm-6 col-sm-offset-3">
            <%= link_to "Upload a new game with PGN", new_game_url, class: "btn btn-default btn-block" %>
          </div>
        </li>

        <li class="heroSupplement__item col-sm-6">
          <figure class="heroSupplement__listNumber">2</figure>
          <figcaption class="heroSupplement__listContent">You can upload your game manually. Simply play out the moves of your game and click submit.</figcaption>

          <div class="upload-img-container text-center">
            <%= image_tag "upload_manual.png", height: 200, class: "img-responsive" %>
          </div>

          <div class="upload-action col-sm-6 col-sm-offset-3">
            <%= link_to "Upload a new game with PGN", manual_upload_url, class: "btn btn-default btn-block" %>
          </div>
        </li>
      </ol>

  </div>

  <hr class="divider">
</div>

