<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class='sub-head'>Simply paste in your chess pgn in the text field below</h4>
  <div class="moves-field form-group">
    <%= f.text_area :moves, value: "", placeholder: "1. Nf3 Nf6 2. c4 g6 3. Nc3 Bg7 4. d4 O-O 5. Bf4 d5 6. Qb3 dc4 7. Qc4 c6 8. e4 Nbd7 9. Rd1 Nb6 10. Qc5 Bg4 11. Bg5 Na4! 12. Qa3 Nc3 13. bc3 Ne4 14. Be7 Qb6 15. Bc4 Nc3 16. Bc5 Rfe8 17. Kf1 Be6!! 18. Bb6 Bc4 19. Kg1 Ne2 20. Kf1 Nd4 21. Kg1 Ne2 22. Kf1 Nc3 23. Kg1 ab6 24. Qb4 Ra4 25. Qb6 Nd1 26. h3 Ra2 27. Kh2 Nf2 28. Re1 Re1 29. Qd8 Bf8 30. Ne1 Bd5 31. Nf3 Ne4 32. Qb8 b5 33. h4 h5 34. Ne5 Kg7 35. Kg1 Bc5 36. Kf1 Ng3 37. Ke1 Bb4 38. Kd1 Bb3 39. Kc1 Ne2 40. Kb1 Nc3 41. Kc1 Rc2#", rows:"10", class: "form-control" %>

    <%= f.hidden_field :details, value: "" %>
  </div>
  <div class="actions text-center">
    <%= f.button "Upload this game", class: "btn btn-primary btn-block", disabled: "disabled", data: {disable_with: "<i class=\"fa fa-spinner fa-spin\"></i> Loading..."} %>
  </div>
<% end %>
