<div class="message-container">
  <div class="conversation-show-header">
    <h2><%= @conversation.subject %></h2>
  </div>

  <% @messages.each do |message| %>
    <div class="message">
      <p class="message_user">
        <span class="message_username">
          <i class="fa fa-user <%= 'online' if message.user.is_online %>"></i> <%= message.user.handle %>
        </span>
        <span class="message_time">
          <%= message.created_at.strftime("%b %e, %l:%M %p") %>
        </span>
      </p>

      <p class="message_body">
        <%= message.body %>
      </p>
    </div>

  <% end %>

  <div class="message_form_container">
    <%= render "messages/form" %>
  </div>
</div>

<%= content_for :head do %>
  <script type="text/javascript">
    var markAsReadUrl = "<%= mark_as_read_user_conversation_url(user_id: @conversation.user, id: @conversation) %>"
  </script>
<% end %>

