<!DOCTYPE html>
<html>
<head>
  <title>ChessExplainedTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <!-- Opentok JS -->
  <% if current_page?(review_game_url(params[:id] || 1)) %>
    <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <% end %>

  <!-- JS Inistializer -->
  <%= render 'layouts/javascript_initializer' %>
</head>
<body>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= nav_bar fixed: :top, brand: "ChessExplained", responsive: true do %>
    <%= menu_group pull: :right do %>
      <% if user_signed_in? %>
        <%= menu_item "Sign Out", destroy_user_session_url, method: :delete %>
      <% else %>
        <%= menu_item "Sign In", new_user_session_url %>
      <% end %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
