<!DOCTYPE html>
<html>
<head>
  <title>ChessExplainedTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <!-- Opentok JS -->
  <% if current_page?(review_game_url(params[:id] || 1)) %>
    <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <% end %>

  <!-- JS Inistializer -->
  <%= render 'layouts/javascript_initializer' %>
</head>
<body>
  <ul class="nav nav-pills">
    <li class="<%= 'active' if current_page?(root_url) %>"><%= link_to "Home", root_url %></li>
    <li class="<%= 'active' if current_page?(new_game_url) %>"><%= link_to "Upload a game", new_game_url %></li>

    <% if user_signed_in? %>
      <li class="pull-right">
        <%= link_to "Sign out", destroy_user_session_url, method: :delete %>
      </li>
    <% else %>
      <li class="pull-right">
        <%= link_to "Sign in", new_user_session_url %>
      </li>
    <% end %>
  </ul>

  <% if notice %>
      <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
