<!DOCTYPE html>
<html>
<head>
  <title>ChessExplained</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <!-- Opentok JS -->
  <% if current_page?(review_game_url(params[:id] || 1)) %>
    <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <% end %>

  <!-- JS Inistializer -->
  <%= render 'layouts/javascript_initializer' %>
</head>
<body>
  <%= render "layouts/navbar" %>

  <div id="alert_box">
    <% if notice %>
        <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <%= alert %>
        <%= devise_error_messages! %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
